#link{
    margin-top: -50px;
    margin-left: 900px;
    margin-right: 200px;
}

#prin{
    margin-top: 20px;
    margin-left: 200px;
}
#logo{
    margin-bottom: 0px;
    margin-left: 200px;
    margin-top: 0px;
}

p{
margin-top: 0px;
margin-left: 200px; 
margin-right: 220px;
text-align: justify;
}

footer{
    text-align: center;
}

#mail{
    margin-left: 200px;
}

#cont{ 
  margin-top: 20px;
  margin-left: 200px; 
}